body {
    background-color: #F0E2E4;
}

h1 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
    color: #EAA6B1;
    font-family: Verdana
}

#form-container {
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    width: 60%;
    align-items: center;
}
#reply {
    width: 50%;
    height: 25px;
    border: 2px solid #EAA6B1;
    border-radius: 2px;
    font-size: 16px;
}

#action-choose {
    height: 25px;
    border: 2px solid #EAA6B1;
    border-radius: 2px
}

#action-choose:hover {
    border-color: #FFFFFF;
}

#submit-button{
    height: 25px;
    background-color: #EAA6B1;
    border: 2px solid #EAA6B1;
    border-radius: 2px;
    color: #FFFFFF;
}

table {
    border: 1px solid #EAA6B1;
    margin: auto;
    border-radius: 4px;
    width: 85%;
    background-color: #EAA6B1;
    max-width: 1000px;
}

thead, tbody{
    display: block
}

tbody {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: sans-serif;
}

th {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 20px;
    font-family: Verdana;
    color: #EBDFE1
}

td {
    padding-left: 26px;
    padding-right: 26px;
    height: 20px;
    background-color: #EBDFE1;
    color: #1E1E1E
}

.task {
    padding: 5px;
    width: 52%
}

.index, .created-at, .status {
    text-align: center;
}
.index {
    width: 6%
}
.created-at {
    width: 24%
}
.status {
    width: 18%
}